<html>
<head>

        <title>Pandemic Modelling</title>

        <link rel="shortcut icon" href="https://raw.githubusercontent.com/Ollie-spoon/legendary-octo-chainsaw/3fd9dd4accfb18e3593e9b8db35304bce0c0d81f/SIR_L.svg?token=AQMQURHS6H22FKKLNR3FXXDAOHQEQ" type="image/x-icon">
    
<meta charset="utf-8" />

    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width">
    <link href="//fonts.googleapis.com/css?family=Roboto|Open+Sans:200,300,400,700,800,900&amp;subset=latin" rel="preload" as="font" />


<link href="//csite.nicepage.com/BundledScripts/templates-page-libs.css?version=19d9ca2e5af1cb010502eb5b20ab71d153665305" rel="stylesheet" />

    </head>
    <body>
        <div id="top-navbar" class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand clearfix" href="https://nicepage.com"><img class="pull-left" width="123" height="40" alt="Nicepage.com" src="//csite.nicepage.com/Images/logo-w.png" /></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="logon-block nav navbar-nav nav-list navbar-left u-unstyled" style="font-size: 14px;">
                            <li class="dropdown">
                                <a href="/download">Download</a>
                            </li>
                            <li class="dropdown">
                                <a href="/nicepage-review">Review</a>
                            </li>
                            <li class="dropdown">
                                <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle template-menu-item" href="/html-templates">6500+ Templates
    <span class="caret"></span></a>
	<ul role="menu" class="dropdown-menu dropdown-menu-hover u-unstyled">
	    <li><a href="/website-templates" class="templates-url" data-urls="website-templates;templates;website-builder">Website Templates</a></li>
	    <li><a href="/website-design" class="templates-url" data-urls="web-design;website-design">Website Designs</a></li>
	    <li><a href="/wordpress-themes" class="templates-url" data-urls="wordpress-themes;wordpress-website;wordpress-template">WordPress Themes</a></li>
	    <li><a href="/joomla-templates">Joomla Templates</a></li>
	    <li><a href="/html-templates" class="templates-url" data-urls="html-templates;html5-template;css-templates">HTML Templates</a></li>
	</ul>
</a>
                            </li>
                            <li class="dropdown">
                                <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    Website Builders
                                    <span class="caret"></span>
                                </a>
                                <ul role="menu" class="dropdown-menu dropdown-menu-hover u-unstyled">
                                    <li><a class="builder-link" href="/html-website-builder">HTML Website Builder</a></li>
                                    <li><a class="builder-link" href="/wordpress-website-builder">WordPress Website Builder</a></li>
                                    <li><a class="builder-link" href="/joomla-page-builder">Joomla Page Builder</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="/premium">Premium</a>
                            </li>
                            <li><a href="/forum">Forums</a></li>
                            <li class="dropdown">
                                <a href="/blog">Blog</a>
                            </li>
                            <li class="dropdown">
                                <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Help<span class="caret"></span></a>
                                <ul role="menu" class="dropdown-menu dropdown-menu-hover u-unstyled">
                                    <li><a href="/doc">Documentation</a></li>
                                    <!--li><a href="/live-demo">Schedule A Personal Demo</a></li-->
                                    <li><a href="/Forum/Topic/Create">Contact Support</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="logon-block nav navbar-nav nav-list navbar-right u-unstyled">

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">EN <span class="caret"></span></a>
                                        <ul class="dropdown-menu u-unstyled" role="menu">
                                                <li><a href="/website-templates">EN</a></li>
                                                <li><a href="/de/website-vorlagen">DE</a></li>
                                                <li><a href="/nl/website-sjablonen">NL</a></li>
                                                <li><a href="/fr/modeles-site">FR</a></li>
                                                <li><a href="/it/modelli-web">IT</a></li>
                                                <li><a href="/es/plantillas-web">ES</a></li>
                                                <li><a href="/pl/szablony-internetowe">PL</a></li>
                                                <li><a href="/pt/modelos-site">PT</a></li>
                                                <li><a href="/tr/web-sitesi-sablonlari">TR</a></li>
                                                <li><a href="/ru/shablony-veb-saytov">RU</a></li>
                                        </ul>
                                    </li>
                        </ul>
                    </div>
                </div>
            </div>
    <br>
    <div style="height:500;width:1000">
        {{ meme|safe }}
    </div>
    </body>
</html>
